*.tpf
*.rar
*.pdb
*.obj
*.sbr
*.htm
*.manifest
*.suo
qtc_*
build-*
config.js
CMakeLists.txt.user
*.pro.user
*.qbs.user
*.qbs.user.*
*.autosave
strace_out
*.a2
install
/default
doxygen
*.deb
*-
*.swp
*.o
build
.vscode
iss/paths.iss
.fuse_*
